*{
    margin: 2;
    padding: 4;
}
.container{
    background: linear-gradient(to right, rgb(73, 20, 172)100%,rgb(129, 125, 179)0%);
}
.content{
    background: rgb(35, 35, 116);
    display: flex;
}
.nav li a{
    text-decoration: none;
    /* justify-content: space-between; */
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
/* left */
.button1{
    margin-left: 1900px;
    margin-bottom: 500px;
    background: rgb(130, 130, 192);
    position: sticky;
}